@import "tailwindcss";

/* Custom modern scrollbar stylings */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #27272A; /* zinc-800 */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3F3F46; /* zinc-700 */
}

/* Firefox compatibility */
* {
  scrollbar-width: thin;
  scrollbar-color: #27272A transparent;
}